# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in ./lib/python3.9/site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in ./lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in ./lib/python3.9/site-packages (from pandas) (1.23.0)
Requirement already satisfied: six>=1.5 in ./lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
result = pd.concat([pd.merge(pd.read_csv("Data/Students_info_%d.csv" % i), pd.read_csv("Data/Students_marks_%d.csv" % i), on = 'index') for i in range(10)])
#print(result.head(10)) #"Напечатайте"
result.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
result = result.drop(columns = ["index"], axis = 1)
#print(result.head(10))
result.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
print(result.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
result.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
print("No" if sum(result.isnull().sum(axis=1)) == 0 else "Yes")

No

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
result.mean()

/tmp/ipykernel_319240/2046019998.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  result.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
print(result[result['test preparation course'] == 'completed'].mean())
print(result[result['test preparation course'] == 'none'].mean())

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64
math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

/tmp/ipykernel_319240/460605011.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(result[result['test preparation course'] == 'completed'].mean())
/tmp/ipykernel_319240/460605011.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(result[result['test preparation course'] == 'none'].mean())

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
result['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
result = result.rename(columns = {"parental level of education": "education", "test preparation course":"test preparation" })

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [20]:
allcount = result.shape[0]
print(result[result["math score"] > passmark].shape[0]/allcount)
print(result[(result["test preparation"] == 'completed')&(result["math score"]>passmark)].shape[0]/allcount)
print(result[(result["test preparation"] == 'none')&(result["math score"]<=passmark) & (result["gender"]=="female")].shape[0]/result[result["gender"]=="female"].shape[0])

0.85
0.325
0.15057915057915058

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [33]:
#!pip install time
import time
start = time.ctime()
buf = result.groupby('race/ethnicity')
buf.head()#buf = result.groupby('education')
#buf.first()['writing score']

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
10,male,group C,associate's degree,standard,none,group1,58,54,52
11,male,group D,associate's degree,standard,none,group1,40,52,43
13,male,group A,some college,standard,completed,group1,78,72,70
14,female,group A,master's degree,standard,none,group1,50,53,58
15,female,group C,some high school,standard,none,group1,69,75,78
16,male,group C,high school,standard,none,group1,88,89,86
20,male,group D,high school,standard,none,group1,66,69,63
22,male,group D,some college,standard,none,group1,44,54,53
24,male,group D,bachelor's degree,free/reduced,completed,group1,74,71,80
25,male,group A,master's degree,free/reduced,none,group1,73,74,72
32,female,group E,master's degree,free/reduced,none,group1,56,72,65
34,male,group E,some college,standard,none,group1,97,87,82
35,male,group E,associate's degree,standard,completed,group1,81,81,79
44,female,group E,associate's degree,free/reduced,none,group1,50,56,54
46,female,group A,associate's degree,standard,completed,group1,55,65,62
50,male,group E,some college,standard,none,group1,53,55,48

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [14]:
# your code here

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [15]:
# your code here

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [16]:
# your code here

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [17]:
# your code here

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [18]:
def GetGrade(average_mark):
    # your code here    

# your code here

IndentationError: expected an indented block (3495698226.py, line 4)